@use "../../../../shared/styles/global/scss/mixins" as *;

#Login {
    min-height: 100dvh;

    .content {
        width: 30%;
        margin: auto;
        background-color: #F2E9D6;
        border-radius: 10px;
        border: 1px solid #BE8C3E;
        box-shadow: 0 26px 60px rgba(0, 0, 0, .35);
        padding: 38px 36px 34px;
        position: relative;

        @include responsive(350) {
            width: 320px;
            padding: 38px 30px 34px;
        }

        @include responsive(450) {
            width: 350px;
        }

        @include responsive(1050) {
            padding: 38px 36px 34px;
        }

        &::before {
            @include createEle(15px, 15px);
            @include position($t: 15px, $r: 15px);
            background: radial-gradient(circle at 35% 30%, #E3B466, #8F672A);
            border-radius: 100%;
        }

        form {
            label {
                color: #000;
                font-weight: 700;
            }

            input {
                border: 1px solid #fff;
                box-shadow: none;

                &:focus {
                    border-color: #BE8C3E;
                }
            }

            button.btn {
                background-color: #BE8C3E;
                color: #000;
            }
        }

        p {
            font-weight: 600;
            font-size: 15px;

            a {
                text-decoration: none;
                color: #BE8C3E;
                font-weight: 700;
            }
        }

    }
}